.pic {
    width:20vw;
    height:24vw;
    position:absolute;
    left: 0px;
    top: 0px;
}


#mute {
    padding: 30px;
    font-size: 2em;;
    border-radius: 30px;
    font-family: monospace;
    z-index: 100000;
    cursor:pointer;
    margin-bottom: 100px;;
    border: none;
    transition: 0.3s;
    background-color: rgb(178, 255, 213);
}

#mute:hover {
    transform: scale(1.1);
}

#mute:active {
    transform: scale(0.9);

}
  

.box {
    background-color: rgb(189, 189, 189);
    width:100vw;
    height:100vh;
    display: flex;
    align-items: end;
    justify-content: center;
}

body {
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
  